.content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.tittle {
    text-align: center;
    font-size: 6rem;
    color: white;
}

.result-photo {
    width: 80%;
    max-width: 720px;
    aspect-ratio: 9 / 16;
    object-fit: cover;
    border: 20px solid rgb(6, 53, 0);
    margin-top: 30px;
    filter: drop-shadow(0 0 50px rgba(255, 255, 255, 0.25)) drop-shadow(0 0 60px rgba(255, 255, 255, 0.25));
}

.photo-placeholder {
    background-color: rgba(6, 53, 0, 0.8);
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 120px;
}

#no-button {
    color: white;
}

#yes-button {
    padding: 2rem 6rem;
}