<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photoop Valiant - Termos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/termos.css') }}">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <img src="{{ url_for('static', filename='img/heineken_header.png') }}" alt="Logo">
            </div>
        </div>
        <div class="content termos-content">
            <h1>Termos</h1>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>
